celery==5.2.7
channels==4.0.0
channels-redis==4.0.0
chatterbot2==1.1.0a7
daphne==4.0.0
django==4.1.5
django-tailwind==3.4.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
python-dotenv==0.21.0
redis==4.4.2
twisted-iocpsupport==1.0.2